.vs/
.vscode/
.idea/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
logs/
*.log
.python-version
.DS_Store
Thumbs.db
*.obj
*.lib
*.exp
*.dll
*.o
*.so
.coverage
*.prof
